# Project Title: Data scientist salary prediction

In [1]:
#mporting libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from statsmodels.tools.eval_measures import rmse
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import random

In [2]:
# Uploading dataset
salary=  df= pd.read_csv("data_cleaned_2021.csv")

# Handling missing values

In [3]:
#Replacing object and int values of -1 with NaN
salary=salary.replace(['-1'],[np.nan])
salary=salary.replace([-1],[np.nan])
salary = salary.drop("index",axis=1)

In [4]:
salary["Competitors"] = salary["Competitors"].fillna(salary["Competitors"].mode()[0]) 
salary["Industry"] = salary["Industry"].fillna(salary["Industry"].mode()[0]) 
salary["Sector"] = salary["Sector"].fillna(salary["Sector"].mode()[0]) 
salary["Headquarters"] = salary["Headquarters"].fillna(salary["Headquarters"].mode()[0]) 
salary["Rating"] = salary["Rating"].fillna(salary["Rating"].mean())
salary["Age"] = salary["Age"].fillna(salary["Age"].median())
salary["Founded"] = salary["Founded"].fillna(salary["Founded"].median())
salary["Company Name"]=salary["Company Name"].str[:-4] #"company Name column conatin name with rating also so we are removing rating given in that column"
salary.drop("company_txt",axis=1,inplace=True)

## There are no missing values in data frame

In [5]:
#Here we made new column derived for take out state abrevation
salary["Location_abb"]=salary["Location"].str[-2:]

In [6]:
#Here we checking derived abbrevation of state and present column named as job location
salary["Check"]=salary["Job Location"].equals(salary["Location_abb"])

In [7]:
salary["Check"].value_counts() #Here we get to know that job location column is not useful so we are drop that column

True    742
Name: Check, dtype: int64

We dropped "location" column as abbrevation same

In [8]:
salary.drop("Location",axis=1,inplace=True) 
salary.drop("Location_abb",axis=1,inplace=True)
salary.drop("Check",axis=1,inplace=True) # Here we drop location as well as location_abb and check column also

In [9]:
salary.loc[salary['Age'] < 14 , 'Age'] = random.randint(14,67)

In [10]:
salary.loc[salary['Age'] > 67 , 'Age'] = random.randint(14,67)

In [12]:
salary.drop(["Company Name","Upper Salary","Lower Salary","Employer provided","Hourly","Industry","Salary Estimate","Job Title","Competitors","Headquarters","Job Description"],axis=1,inplace=True)

**Dummy encode the catergorical variables**

In [13]:
df_categoric = salary.select_dtypes(include = object)
dummy_encoded_variables = pd.get_dummies(df_categoric, drop_first = True)

In [14]:
dummy_encoded_variables.head()

,Size_10000+,Size_1001 - 5000,Size_201 - 500,Size_5001 - 10000,Size_501 - 1000,Size_51 - 200,Size_unknown,Type of ownership_Company - Private,Type of ownership_Company - Public,Type of ownership_Government,...,job_title_sim_data modeler,job_title_sim_data scientist,job_title_sim_director,job_title_sim_machine learning engineer,job_title_sim_na,job_title_sim_other scientist,seniority_by_title_na,seniority_by_title_sr,Degree_P,Degree_na
0,0,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,1
4,0,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1

In [15]:
dummy_encoded_variables.shape

(742, 99)

**Concatenate numerical and dummy encoded categorical variables**

In [16]:
df_numeric = salary.select_dtypes(include=np.number)
# concatenate the numerical and dummy encoded categorical variables column-wise
df_dummy = pd.concat([df_numeric, dummy_encoded_variables], axis=1)

# display data with dummy variables
df_dummy.head()

,Rating,Founded,Avg Salary(K),Age,Python,spark,aws,excel,sql,sas,...,job_title_sim_data modeler,job_title_sim_data scientist,job_title_sim_director,job_title_sim_machine learning engineer,job_title_sim_na,job_title_sim_other scientist,seniority_by_title_na,seniority_by_title_sr,Degree_P,Degree_na
0,3.8,1973.0,72.0,48.0,1,0,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
1,3.4,1984.0,87.5,37.0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,4.8,2010.0,85.0,23.0,1,1,0,1,1,1,...,0,1,0,0,0,0,1,0,0,0
3,3.8,1965.0,76.5,56.0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4,2.9,1998.0,114.5,23.0,1,0,0,1,1,1,...,0,1,0,0,0,0,1,0,0,1

In [17]:
# add the intercept column using 'add_constant()'
df_dummy = sm.add_constant(df_dummy)

# separate the independent and dependent variables
# drop(): drops the specified columns
X = df_dummy.drop(["Avg Salary(K)"], axis = 1)

# extract the target variable from the data set
y = df_dummy[["Avg Salary(K)"]]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
print("The shape of X_train is:",X_train.shape)
print("The shape of X_test is:",X_test.shape)
print("The shape of y_train is:",y_train.shape)
print("The shape of y_test is:",y_test.shape)

The shape of X_train is: (593, 119)
The shape of X_test is: (149, 119)
The shape of y_train is: (593, 1)
The shape of y_test is: (149, 1)

# 1.OLS

In [19]:
linreg_full = sm.OLS(y_train, X_train).fit()
print(linreg_full.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Avg Salary(K)   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.583
Method:                 Least Squares   F-statistic:                     8.064
Date:                Tue, 29 Mar 2022   Prob (F-statistic):           9.91e-62
Time:                        10:16:09   Log-Likelihood:                -2666.4
No. Observations:                 593   AIC:                             5569.
Df Residuals:                     475   BIC:                             6086.
Df Model:                         117
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
const                                              182.7025     91.932      1.987      0.047       2.059     363.346
Rating                                               4.0518      2.435      1.664      0.097      -0.732       8.836
Founded                                             -0.0529      0.038     -1.384      0.167      -0.128       0.022
Age                                                 -0.1652      0.139     -1.185      0.237      -0.439       0.109
Python                                               9.4867      2.923      3.246      0.001       3.743      15.230
spark                                               -1.0320      3.878     -0.266      0.790      -8.652       6.588
aws                                                 -0.4859      3.120     -0.156      0.876      -6.616       5.644
excel                                                1.2533      2.549      0.492      0.623      -3.755       6.262
sql                                                 -3.8247      3.183     -1.201      0.230     -10.080       2.431
sas                                                 11.5531      4.537      2.546      0.011       2.638      20.469
keras                                               22.3236      8.123      2.748      0.006       6.361      38.286
pytorch                                            -15.8907      7.276     -2.184      0.029     -30.189      -1.593
scikit                                               0.0006      5.894      0.000      1.000     -11.581      11.582
tensor                                               5.4888      6.832      0.803      0.422      -7.935      18.913
hadoop                                               2.9626      4.116      0.720      0.472      -5.124      11.050
tableau                                             -6.4649      3.809     -1.697      0.090     -13.949       1.020
bi                                                  10.8110      5.343      2.023      0.044       0.312      21.310
flink                                               -8.1415     11.302     -0.720      0.472     -30.350      14.067
mongo                                               13.1354      5.665      2.319      0.021       2.004      24.267
google_an                                          -20.3368     11.852     -1.716      0.087     -43.626       2.952
Size_10000+                                         -2.0663      9.861     -0.210      0.834     -21.443      17.311
Size_1001 - 5000                                     1.7094      8.386      0.204      0.839     -14.769      18.187
Size_201 - 500                                      -5.6177      8.027     -0.700      0.484     -21.391      10.156
Size_5001 - 10000                                  -11.5880      9.709     -1.194      0.233     -30.665       7.489
Size_501 - 1000                                     -6.7423      8.072     -0.835      0.404     -22.604       9.119
Size_51 - 200                                        3.3352      7.691      0.434      0.665     -11.778      18.449
Size_unknown                                        16.6846     13.566      1.230      0.219      -9.973      43.342
Type of ownership_Company - Private                -12.3909     16.396     -0.756      0.450     -44.608      19.826
Type of ownership_Company - Public                  -7.4614     16.801     -0.444      0.657     -40.474      25.552
Type of ownership_Government                       -21.7932     25.181     -0.865      0.387     -71.273      27.687
Type of ownership_Hospital                         -53.5868     20.163     -2.658      0.008     -93.207     -13.966
Type of ownership_Nonprofit Organization           -30.1092     16.706     -1.802      0.072     -62.937       2.718
Type of ownership_Other Organization               -19.7601     22.123     -0.893      0.372     -63.232      23.712
Type of ownership_School / School District          -7.8539     28.492     -0.276      0.783     -63.839      48.131
Type of ownership_Subsidiary or Business Segment    -8.9563     16.939     -0.529      0.597     -42.242      24.329
Sector_Aerospace & Defense                           1.9363     35.619      0.054      0.957     -68.055      71.927
Sector_Agriculture & Forestry                       -4.3533     44.485     -0.098      0.922     -91.764      83.057
Sector_Arts, Entertainment & Recreation            -15.8943     40.055     -0.397      0.692     -94.601      62.812
Sector_Biotech & Pharmaceuticals                    -2.6343     35.120     -0.075      0.940     -71.645      66.376
Sector_Business Services                            -7.4309     34.986     -0.212      0.832     -76.178      61.316
Sector_Construction, Repair & Maintenance          -27.1901     40.033     -0.679      0.497    -105.854      51.474
Sector_Consumer Services                           -10.1638     38.039     -0.267      0.789     -84.910      64.582
Sector_Education                                   -17.7559     36.650     -0.484      0.628     -89.771      54.260
Sector_Finance                                      -7.7416     35.164     -0.220      0.826     -76.837      61.354
Sector_Government                                   -6.0736     36.939     -0.164      0.869     -78.658      66.510
Sector_Health Care                                   7.5138     35.395      0.212      0.832     -62.036      77.064
Sector_Information Technology                        0.9328     34.700      0.027      0.979     -67.252      69.118
Sector_Insurance                                    -2.5891     35.156     -0.074      0.941     -71.669      66.491
Sector_Manufacturing                               -12.8645     35.572     -0.362      0.718     -82.762      57.033
Sector_Media                                        -3.5674     37.221     -0.096      0.924     -76.706      69.571
Sector_Mining & Metals                           -2.499e-14   4.15e-14     -0.601      0.548   -1.07e-13    5.67e-14
Sector_Non-Profit                                   -4.8951     38.432     -0.127      0.899     -80.412      70.622
Sector_Oil, Gas, Energy & Utilities                -16.7033     40.176     -0.416      0.678     -95.649      62.242
Sector_Real Estate                                 -20.1919     36.445     -0.554      0.580     -91.804      51.421
Sector_Retail                                       12.8796     35.952      0.358      0.720     -57.765      83.524
Sector_Telecommunications                          -17.9240     36.981     -0.485      0.628     -90.590      54.742
Sector_Transportation & Logistics                  -12.8660     37.807     -0.340      0.734     -87.156      61.424
Sector_Travel & Tourism                            -19.0290     36.734     -0.518      0.605     -91.210      53.151
Revenue_$1 to $5 million (USD)                     -43.0790     14.872     -2.897      0.004     -72.302     -13.857
Revenue_$10 to $25 million (USD)                   -17.3410      8.194     -2.116      0.035     -33.443      -1.239
Revenue_$10+ billion (USD)                           5.0754      7.570      0.670      0.503      -9.799      19.950
Revenue_$100 to $500 million (USD)                  -6.6798      6.161     -1.084      0.279     -18.785       5.426
Revenue_$2 to $5 billion (USD)                      -9.5763      7.354     -1.302      0.193     -24.027       4.874
Revenue_$25 to $50 million (USD)                    -3.9586      8.617     -0.459      0.646     -20.892      12.975
Revenue_$5 to $10 billion (USD)                     -9.4784      9.425     -1.006      0.315     -27.998       9.041
Revenue_$5 to $10 million (USD)                     24.8464     10.746      2.312      0.021       3.731      45.962
Revenue_$50 to $100 million (USD)                    7.2767      7.229      1.007      0.315      -6.928      21.481
Revenue_$500 million to $1 billion (USD)            -5.4908      7.311     -0.751      0.453     -19.856       8.875
Revenue_Less than $1 million (USD)                 -17.7155     26.471     -0.669      0.504     -69.730      34.299
Revenue_Unknown / Non-Applicable                    -1.5143      5.983     -0.253      0.800     -13.271      10.243
Job Location_AZ                                      0.0971     15.536      0.006      0.995     -30.430      30.625
Job Location_CA                                     52.0748     12.594      4.135      0.000      27.328      76.822
Job Location_CO                                     53.6417     17.903      2.996      0.003      18.463      88.821
Job Location_CT                                     14.0784     18.449      0.763      0.446     -22.173      50.330
Job Location_DC                                     47.1402     15.125      3.117      0.002      17.420      76.860
Job Location_DE                                     13.4242     21.160      0.634      0.526     -28.155      55.003
Job Location_FL                                     17.3452     14.107      1.230      0.219     -10.375      45.065
Job Location_GA                                     -4.1108     19.622     -0.210      0.834     -42.667      34.446
Job Location_IA                                     28.7353     18.489      1.554      0.121      -7.595      65.065
Job Location_ID                                     17.4774     22.062      0.792      0.429     -25.874      60.829
Job Location_IL                                     38.3755     13.467      2.849      0.005      11.912      64.839
Job Location_IN                                      6.6141     15.482      0.427      0.669     -23.808      37.036
Job Location_KS                                     -4.9352     22.827     -0.216      0.829     -49.789      39.919
Job Location_KY                                     61.9119     18.499      3.347      0.001      25.561      98.263
Job Location_LA                                      7.2524     23.847      0.304      0.761     -39.607      54.112
Job Location_MA                                     28.0812     13.074      2.148      0.032       2.390      53.772
Job Location_MD                                     29.9837     12.793      2.344      0.020       4.846      55.122
Job Location_MI                                     40.1621     17.087      2.351      0.019       6.588      73.737
Job Location_MN                                     41.3262     28.008      1.476      0.141     -13.708      96.361
Job Location_MO                                     26.2884     16.459      1.597      0.111      -6.054      58.631
Job Location_NC                                     28.1346     14.909      1.887      0.060      -1.162      57.431
Job Location_NE                                      2.4852     29.055      0.086      0.932     -54.607      59.577
Job Location_NJ                                     50.2418     14.620      3.436      0.001      21.513      78.970
Job Location_NM                                      1.3660     23.038      0.059      0.953     -43.904      46.636
Job Location_NY                                     31.3377     13.047      2.402      0.017       5.700      56.975
Job Location_OH                                     31.6982     14.770      2.146      0.032       2.676      60.720
Job Location_OR                                     14.7889     18.427      0.803      0.423     -21.419      50.997
Job Location_PA                                     22.2758     14.480      1.538      0.125      -6.177      50.729
Job Location_RI                                     54.9223     29.941      1.834      0.067      -3.911     113.756
Job Location_SC                                     15.6974     27.791      0.565      0.572     -38.910      70.305
Job Location_TN                                     -1.8376     15.254     -0.120      0.904     -31.811      28.135
Job Location_TX                                     20.7644     13.823      1.502      0.134      -6.397      47.926
Job Location_UT                                     51.6228     19.355      2.667      0.008      13.592      89.654
Job Location_VA                                     24.7991     12.866      1.927      0.055      -0.482      50.080
Job Location_WA                                     34.5750     16.298      2.121      0.034       2.551      66.599
Job Location_WI                                     20.5642     15.852      1.297      0.195     -10.584      51.713
job_title_sim_analyst                               -3.2099      8.081     -0.397      0.691     -19.089      12.669
job_title_sim_data analitics                        -9.1197     13.837     -0.659      0.510     -36.309      18.069
job_title_sim_data engineer                         23.5840      8.451      2.791      0.005       6.978      40.190
job_title_sim_data modeler                          10.6609     14.658      0.727      0.467     -18.141      39.463
job_title_sim_data scientist                        29.7898      7.873      3.784      0.000      14.319      45.260
job_title_sim_director                              53.0037     14.603      3.630      0.000      24.309      81.698
job_title_sim_machine learning engineer             55.7305     11.788      4.728      0.000      32.567      78.894
job_title_sim_na                                     2.7574     13.010      0.212      0.832     -22.808      28.322
job_title_sim_other scientist                       14.2818      8.393      1.702      0.089      -2.210      30.774
seniority_by_title_na                              -35.6951     26.594     -1.342      0.180     -87.952      16.561
seniority_by_title_sr                               -9.0329     26.648     -0.339      0.735     -61.395      43.329
Degree_P                                            10.1480      4.270      2.376      0.018       1.757      18.539
Degree_na                                            4.1068      2.852      1.440      0.151      -1.497       9.711
==============================================================================
Omnibus:                       75.373   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              199.683
Skew:                           0.645   Prob(JB):                     4.36e-44
Kurtosis:                       5.534   Cond. No.                     1.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.19e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
linreg_full_predictions = linreg_full.predict(X_test)
linreg_full_predictions

273    150.177478
414     52.980414
529    119.687484
502     96.027582
729     84.471525
          ...
247    104.337667
341    103.392522
298    136.500482
132     90.253924
656    129.297354
Length: 149, dtype: float64

In [21]:
actual_salary = y_test["Avg Salary(K)"]
actual_salary

273     90.0
414     62.5
529    125.0
502     97.5
729     70.0
       ...
247     50.0
341    111.5
298    162.5
132     81.5
656    114.0
Name: Avg Salary(K), Length: 149, dtype: float64

In [22]:
linreg_full_rmse = rmse(actual_salary,linreg_full_predictions )
linreg_full_rsquared = linreg_full.rsquared
linreg_full_rsquared_adj = linreg_full.rsquared_adj

In [23]:
cols = ['Model', 'RMSE', 'R-Squared', 'Adj. R-Squared','Accuracy']
result_tabulation = pd.DataFrame(columns = cols)
linreg_full_metrics = pd.Series({'Model': "Linreg full model ",
                     'RMSE':linreg_full_rmse,
                     'R-Squared': linreg_full_rsquared,
                     'Adj. R-Squared': linreg_full_rsquared_adj     
                   })
result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)
result_tabulation

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_16636/2469086403.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)

                Model      RMSE R-Squared Adj. R-Squared
0  Linreg full model   28.33744  0.665127       0.582642

# 2.Linear Regression with SGD

In [24]:
# importing library min max scaler to scale data
from sklearn.preprocessing import MinMaxScaler
#import library for implement Linear Regression
from sklearn.linear_model import SGDRegressor 
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import StandardScaler

In [25]:
scaler= StandardScaler()

In [26]:
scaler.fit(X)

StandardScaler()

In [27]:
X1= scaler.fit_transform(X)

In [28]:
X1

array([[ 0.        ,  0.19731918,  0.02945032, ..., -0.64919638,
        -0.41049231, -1.03288546],
       [ 0.        , -0.50974121,  0.23901746, ..., -0.64919638,
        -0.41049231, -1.03288546],
       [ 0.        ,  1.96497014,  0.73435796, ..., -0.64919638,
        -0.41049231, -1.03288546],
       ...,
       [ 0.        , -1.92386197,  0.23901746, ..., -0.64919638,
         2.43609923, -1.03288546],
       [ 0.        , -0.8632714 ,  0.39142992, ..., -0.64919638,
        -0.41049231,  0.96816156],
       [ 0.        , -0.15621101, -0.08485903, ..., -0.64919638,
        -0.41049231, -1.03288546]])

In [29]:
y1=y

In [30]:
y1

     Avg Salary(K)
0             72.0
1             87.5
2             85.0
3             76.5
4            114.5
..             ...
737           84.5
738          102.5
739           73.5
740          127.5
741           93.5

[742 rows x 1 columns]

In [31]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 1)
print("The shape of X1_train is:",X1_train.shape)
print("The shape of X1_test is:",X1_test.shape)
print("The shape of y1_train is:",y1_train.shape)
print("The shape of y1_test is:",y1_test.shape)

The shape of X1_train is: (593, 119)
The shape of X1_test is: (149, 119)
The shape of y1_train is: (593, 1)
The shape of y1_test is: (149, 1)

In [32]:
SGD_model = SGDRegressor(loss="squared_loss",alpha = 0.1, max_iter = 3000) #Instantiation
SGD_model.fit(X1_train, y1_train) #Training

C:\Users\OMKAR\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:165: FutureWarning: The loss 'squared_loss' was deprecated in v1.0 and will be removed in version 1.2. Use `loss='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\OMKAR\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(alpha=0.1, loss='squared_loss', max_iter=3000)

In [33]:
# predict the values
y1_pred_SGD  = SGD_model.predict(X1_test)

In [34]:
y1_pred_SGD

array([146.17822352,  74.87268239, 121.21060277,  87.79222273,
        82.33411807,  82.22376336,  87.72107629,  67.82260446,
        58.53475719,  66.8734221 ,  93.36042671,  88.61224572,
        63.63293606,  85.35268371, 106.46610445,  58.68089226,
        92.04795286,  57.32119371,  83.80227212, 101.04794339,
       111.52212746,  66.25032892, 135.63841731, 109.32845591,
        70.22158201, 105.22934263,  92.30981266, 115.46232968,
        80.38804527, 144.58428678, 106.19771939,  52.31414675,
       149.28876133,  91.58870248, 115.40691113,  94.46211967,
        49.63090925,  43.14879298, 108.07893855, 131.75073921,
       101.27941156,  50.2445894 , 121.3291105 ,  95.93100851,
        88.77467958,  96.42721772,  57.32119371, 149.81342062,
        94.2973483 ,  65.56496733,  54.74167451, 131.75073921,
        93.3581593 , 120.16358577,  95.19146698, 121.21060277,
        58.06929141, 141.15751924, 116.45933563,  83.98019629,
       136.46343074, 104.23570691,  39.73522942,  48.27961545,
       153.37330572,  82.22376336,  43.85215956,  81.95668711,
        67.82260446, 130.05561834, 140.25458465,  95.46674074,
       121.57456764,  49.90327358,  99.62459334,  87.9808317 ,
        98.74482359,  84.41557515,  90.92673163, 104.93332748,
        91.18407389,  57.32119371,  85.5755291 , 105.48191502,
        45.57041979, 121.87748523,  82.20556054,  85.54239759,
       115.40691113, 127.49187529,  94.30632594,  73.45046235,
       131.17016026,  56.47225115, 145.43103645, 151.38903689,
        79.17856481,  76.22843892,  56.33709955,  83.80227212,
        96.79522233,  82.19997746, 134.07461526, 114.92793625,
        69.83136052,  81.68147921, 107.7075544 , 127.60816263,
        68.35770991, 114.23115509,  48.4726035 , 127.60816263,
        70.22158201, 109.36230659, 133.5138303 ,  91.53147601,
       100.35653895, 106.25489854, 109.41419247,  84.74980958,
       150.95683267,  69.75352339,  86.05300032,  62.58040243,
        85.96707831, 156.76305941, 156.76305941, 136.62442829,
       133.28964813, 122.39843731, 108.07893855, 114.04379042,
       110.17533327, 132.14449313,  61.16960999,  71.25698885,
        82.34263303, 136.46343074,  99.2807237 ,  80.86536475,
       107.19918742, 132.19955587, 107.5904005 , 103.78557655,
        73.76808819,  95.19146698, 133.6052835 ,  89.9515955 ,
       122.26352453])

In [35]:
r_squared_SGD = SGD_model.score(X1_train,y1_train)
n = 593 
p = 119
Adj_r_squared_SGD = 1 - (1-r_squared_SGD)*(n-1)/(n-p-1)
rmse_SGD = sqrt(mean_squared_error(y1_test, y1_pred_SGD))

In [36]:
linreg_full_metrics = pd.Series({'Model': "Linear regression with SGD ",
                     'RMSE':rmse_SGD,
                     'R-Squared': r_squared_SGD,
                     'Adj. R-Squared': Adj_r_squared_SGD     
                   })
result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)
result_tabulation

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_16636/1081402639.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)

                         Model      RMSE R-Squared Adj. R-Squared
0           Linreg full model   28.33744  0.665127       0.582642
1  Linear regression with SGD   26.90895  0.649354       0.561136

# 3. Decision Tree

In [37]:
from sklearn import tree
from sklearn.tree import export_graphviz
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

In [38]:
decision_tree = DecisionTreeRegressor(criterion = 'squared_error', random_state = 10) #Max depth D.Tree gets formed
decision_tree_model = decision_tree.fit(X_train, y_train) #fit() method is defined inside the class 'DecisionTreeClassifier'

In [39]:
y_pred_DT=decision_tree_model.predict(X_test)

In [40]:
y_pred_DT

array([121.        ,  62.5       , 120.        ,  97.5       ,
        70.        , 109.        ,  65.5       ,  85.5       ,
        72.5       ,  81.        ,  71.75      ,  75.5       ,
        41.5       , 123.5       , 164.5       ,  85.5       ,
        93.33333333,  56.5       ,  84.5       ,  93.5       ,
        89.        ,  66.        , 122.        ,  84.        ,
        73.5       ,  85.5       ,  94.5       , 120.        ,
        80.        , 194.        , 107.        ,  54.        ,
       150.5       ,  82.5       , 139.5       , 120.        ,
        43.        ,  53.5       , 107.5       , 221.5       ,
        75.5       ,  49.        ,  68.5       , 109.        ,
        49.        ,  84.        ,  56.5       , 111.        ,
        64.5       ,  50.        ,  44.5       , 221.5       ,
        90.66666667, 113.5       , 111.5       , 120.        ,
        50.        , 164.        , 113.5       , 177.        ,
       134.        ,  95.        ,  61.        ,  48.5       ,
       133.        , 109.        ,  53.5       ,  91.        ,
        85.5       , 140.        , 113.        ,  91.        ,
        94.5       ,  56.5       ,  82.        ,  91.5       ,
        82.5       , 115.        ,  49.        ,  84.5       ,
        99.        ,  56.5       ,  76.5       , 127.5       ,
       105.5       , 114.5       ,  71.5       , 110.        ,
       139.5       , 146.5       , 120.        ,  68.5       ,
       143.5       ,  55.        , 140.        , 116.5       ,
        47.        ,  85.5       ,  51.5       ,  84.5       ,
       103.5       , 129.5       , 140.5       , 115.        ,
        99.5       ,  90.        , 120.        , 254.        ,
        87.5       , 221.5       ,  76.        , 254.        ,
        73.5       ,  86.        , 155.        , 107.        ,
       103.5       , 138.5       ,  56.5       ,  62.5       ,
       137.        ,  59.        ,  79.5       ,  74.        ,
        90.        , 151.5       , 151.5       ,  87.5       ,
       124.5       , 142.5       , 107.5       , 181.        ,
        85.        , 126.25      ,  45.5       ,  83.        ,
       149.5       , 134.        ,  92.        ,  69.5       ,
        47.5       ,  92.        ,  77.5       ,  98.        ,
        49.        , 111.5       , 150.5       ,  76.        ,
       161.5       ])

In [41]:
y_test

     Avg Salary(K)
273           90.0
414           62.5
529          125.0
502           97.5
729           70.0
..             ...
247           50.0
341          111.5
298          162.5
132           81.5
656          114.0

[149 rows x 1 columns]

In [42]:
r_squared_DT=decision_tree_model.score(X_test,y_test)
n = 593 
p = 119
Adj_r_squared_DT = 1 - (1-r_squared_DT)*(n-1)/(n-p-1)
Adj_r_squared_DT

0.5608620342087651

In [43]:
# Compute RMSE
rmse_DT = sqrt(mean_squared_error(y_test, y_pred_DT))

In [44]:
linreg_full_metrics = pd.Series({'Model': "Decision Tree Model ",
                     'RMSE':rmse_DT,
                     'R-Squared': r_squared_DT,
                     'Adj. R-Squared': Adj_r_squared_DT     
                   })
result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)
result_tabulation

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_16636/987164885.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)

                         Model       RMSE R-Squared Adj. R-Squared
0           Linreg full model    28.33744  0.665127       0.582642
1  Linear regression with SGD    26.90895  0.649354       0.561136
2         Decision Tree Model   22.072437  0.649135       0.560862

# 4.Decision Tree with pruning

In [45]:
prune = DecisionTreeRegressor(max_depth = 10, max_leaf_nodes = 32 , random_state = 10)
decision_tree_prune = prune.fit(X_train, y_train)

In [46]:
y_pred_DT_prune=decision_tree_prune.predict(X_test)

In [47]:
y_pred_DT_prune

array([139.93939394,  59.05172414,  81.86206897, 104.3880597 ,
        60.7244898 ,  93.12931034,  98.98837209,  93.12931034,
        59.05172414,  60.7244898 ,  89.32      ,  93.12931034,
        81.86206897,  59.05172414, 139.93939394,  81.86206897,
        98.98837209,  60.7244898 ,  98.98837209,  81.86206897,
       104.3880597 ,  59.05172414, 127.70491803,  89.32      ,
        81.86206897, 104.3880597 ,  93.12931034,  81.86206897,
        98.98837209, 191.125     , 104.3880597 ,  59.05172414,
       139.93939394,  90.63461538, 127.70491803,  81.86206897,
        59.05172414,  59.05172414,  98.98837209, 139.93939394,
       104.3880597 ,  59.05172414, 101.5       ,  98.98837209,
        59.05172414,  89.32      ,  60.7244898 ,  60.7244898 ,
        93.12931034,  59.05172414,  59.05172414, 139.93939394,
        98.98837209,  89.32      ,  90.63461538,  81.86206897,
        59.05172414, 127.70491803, 139.93939394, 177.        ,
        98.98837209, 104.3880597 , 101.5       ,  59.05172414,
       127.70491803,  93.12931034,  59.05172414, 104.3880597 ,
        93.12931034, 156.        ,  93.12931034, 104.3880597 ,
        89.32      ,  60.7244898 ,  89.32      ,  90.63461538,
        90.63461538, 104.3880597 ,  59.05172414,  93.12931034,
        93.12931034,  60.7244898 ,  89.32      , 104.3880597 ,
        93.12931034,  89.32      ,  93.12931034, 104.3880597 ,
       127.70491803, 127.70491803,  89.32      ,  93.12931034,
       104.3880597 ,  60.7244898 , 127.70491803, 136.84782609,
        75.30769231, 104.3880597 ,  60.7244898 ,  98.98837209,
        75.30769231,  96.83333333, 127.70491803,  89.32      ,
        96.83333333,  93.12931034,  81.86206897, 214.33333333,
        90.63461538, 139.93939394,  81.86206897, 214.33333333,
        81.86206897, 104.3880597 , 104.3880597 , 104.3880597 ,
        75.30769231, 127.70491803, 104.3880597 ,  89.32      ,
       127.70491803,  59.05172414, 104.3880597 ,  81.86206897,
        93.12931034, 136.84782609, 136.84782609, 136.84782609,
       127.70491803, 139.93939394,  98.98837209, 181.        ,
        93.12931034, 130.56666667,  59.05172414,  75.30769231,
        93.12931034,  98.98837209,  93.12931034,  89.32      ,
        59.05172414, 136.84782609,  75.30769231, 127.70491803,
        59.05172414,  90.63461538, 136.84782609,  81.86206897,
       161.5       ])

In [48]:
r_squared_DT_prune=decision_tree_prune.score(X_test,y_test)
n = 593 
p = 119
Adj_r_squared_DT_prune = 1 - (1-r_squared_DT_prune)*(n-1)/(n-p-1)
Adj_r_squared_DT_prune
rmse_DT_prune = sqrt(mean_squared_error(y_test, y_pred_DT_prune))

In [49]:
linreg_full_metrics = pd.Series({'Model': "Decision Tree Model after pruning ",
                     'RMSE':rmse_DT_prune,
                     'R-Squared': r_squared_DT_prune,
                     'Adj. R-Squared': Adj_r_squared_DT_prune     
                   })
result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)
result_tabulation

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_16636/1696126247.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_tabulation = result_tabulation.append(linreg_full_metrics, ignore_index = True)

                                Model       RMSE R-Squared Adj. R-Squared
0                  Linreg full model    28.33744  0.665127       0.582642
1         Linear regression with SGD    26.90895  0.649354       0.561136
2                Decision Tree Model   22.072437  0.649135       0.560862
3  Decision Tree Model after pruning   26.664283  0.487965       0.359144

# 5.Decision Tree with grid search CV

In [50]:
# tuned_paramaters = [{'criterion': ['squared_error', 'absolute_error'],
#                      'min_samples_split': [10, 20, 30],
#                      'max_depth': [3, 5, 7, 9,12,15,20,25],
#                      'min_samples_leaf': [15, 20, 25, 30, 35],
#                      'max_leaf_nodes': [5, 10, 15, 20, 25]}]

## 5.Rndom forest
## 6.Random Forest using Grid search CV
## 7. Ensemble Techniques
## 8. Ensemble Techniques(Adaboost)